header
	.wrapper
		a#lpl-logo(href='/')
		a.logo-type(href='/')
			span LIGHTPAINT
			span &nbsp;LIVE
		nav
			a(data-scroll href='/#mercury') mercury
			a(data-scroll href='/#faq') faq
			a(data-scroll href='/#story') story