doctype html
html(lang="en" xmlns:fb="http://ogp.me/ns/fb#")
	head
		include _head
	body
		include _nav
		lpl-dl(pro)
		//- include footer
		script(src='js/globals.js')
		script(src='js/download-mercury.js')
