doctype html
html(lang="en" xmlns:fb="http://ogp.me/ns/fb#")

	head
		title LIGHTPAINT LIVE
		
		link(href="main.css" type="text/css" rel="stylesheet")

		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css')

		link(rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bphfkpkoljdicakaokfbjiaamholpgjf")

		meta(name="keywords" content="light painting, webcam, photography, photo app, chrome app")

		meta(property="og:url" content="http://lightpaintlive.com")
		meta(property="og:site_name" content="Lightpaint Live")
		meta(property="og:type" content="website")
		meta(property="og:image" content="http://lightpaintlive.com/assets/images/og-image.jpg")
		meta(property="og:description" content="Real-time light painting software.")
		meta(property="fb:app_id" content="331545326882067")



	body

		header
			div(class='wrapper')
				div(id='lpl-logo')
				div(class='logo-type')
					span LIGHTPAINT
					span &nbsp;LIVE
				nav
					a(href='#mercury') mercury
					a(href='#faq') faq
					a(href='#open-source') open-source
					a(href='#story') story



		div(class='scrollable-content')
			div(class='wrapper')



				section(id='mercury')
					h1 Mercury
					p A webcam app for light painting in real-time. Runs on Chrome for Mac &amp; Windows.
					div(class='mercury-btns')
						div(class='install-btn btn')
							div(class='icon')
							a(href='https://chrome.google.com/webstore/detail/bphfkpkoljdicakaokfbjiaamholpgjf' target='_blank') buy &amp; install Mercury
						div(class='launch-btn btn')
							div(class='icon')
							a(href='http://lightpaintlive.com/mercury-app' target='_blank') launch Mercury
						span(class="try") ...or try 
							a(class='shiny' href='http://lightpaintlive.com/mercury/' target='_blank') Mercury Alpha
					iframe(class="video" width="100%" height="405" src="//www.youtube.com/embed/XQu8TTBmGhA" frameborder="0" allowfullscreen)
				
					div(class='sub-section')
						h2 light modes
						p Mercury has 4 modes for capturing light. Use the keys 0-3 to quickly switch modes.

						div(class='gif') gif

						div(class='buttons')
							button normal
							button average
							button lighten
							button darken

						div(class='descriptions')
							p normal: Used for fading the current painting.
							p average: Simulates traditional light painting.
							p lighten: Only captures the brightest light. Allows painting for a very long time without over-exposing the picture.
							p darken: Similar to lighten, but darkness is captured. Can be used in extremely bright environments.

					div(class='sub-section')
						h2 keyboard shortcuts
						p Mercury can be controlled remotely with a 
							a(class='shiny' href='http://www.amazon.com/Logitech-Wireless-Keyboard-Built-In-Multi-Touch/dp/B005DKZTMG/ref=pd_cp_pc_2' target='_blank') mini bluetooth keyboard!
						
						ul
							li #[strong Fullscreen:] f, or F11
							li #[strong Exposure:] left/right arrows, or [ ]
							li #[strong Modes:] 0-3
							li #[strong Mirror:] m
							li #[strong Save:] s
							li #[strong New:] n
							li #[strong Trigger:] spacebar




				section(id='faq') 
					h1 Frequently asked questions

					h3 It's not working!
					p Make sure Chrome is up to date. Open chrome and go to chrome://chrome to update.

					h3 How can I use a different webcam?
					p In Chrome, go to chrome://settings/content, find the Media section, and select your camera.

					h3 Can I use a DSLR with LPL?
					p Yes, but it requires 3rd party software. Generally the video feed from DSLR to webcam is low resolution and low framerate. We don't recommend it.
					p #[a(class='shiny' href='http://sparkosoft.com/how-to-use-dslr-as-webcam' target='_blank') sparkosoft ]
					p #[a(class='shiny' href='http://extrawebcam.com/' target='_blank') extrawebcam]

					h3 Can I record light painting videos?
					p Yes, by using any screen-casting program. Quicktime has this feature built-in. There is also a free web-based program called 
						a(class='shiny' href='www.screencast-o-matic.com' target='_blank') screencast-o-matic.

					h3 How can I get rid of noise?
					p Most webcams default to using auto-exposure. This is not ideal for light painting. In complete darkness, 
						| it will use the maximum exposure, which makes the video very noisy (like high ISO). 
						| Use your webcam's driver software to control settings on the webcam, or use a universal webcam controller 
						| like #[a(class='shiny' href='(https://itunes.apple.com/us/app/webcam-settings/id533696630?mt=12)' target='_blank') Webcam&nbsp;Settings] (Mac).
					p Of course, the quality of the camera also affects this. We recommend Logitech webcams, like the #[a(class='shiny' href='http://www.logitech.com/en-us/product/webcam-c930e-business' target='_blank') C930e]

					h3 How can I fade out my light painting?
					p Short fades are possible by switching modes; like 'average' to 'normal'.
					p The formula below can be used to determine the duration of the fades. Each frame will subtract 1 from the current color, of which there are 256 possible values.
					p 256 (color values) / 60 (frames per second) = 4.3 seconds

					h3 Where can I buy light tools?
					p 
						a(class='shiny' href='http://lightpaintingbrushes.com/' target='_blank') LightPaintingBrushes. 
						span Jason Page's flexible, extensible light painting brush system. We highly recommend it. 
					p 
						a(class='shiny' href='http://blinkinlabs.com/blinkytape/' target='_blank') Blinky Tape. 
						span Programmable 60-led RGB strips. Easy. 
					p Smartphones and tablets are also super cool. Get creative!




				section(id='open-source') 
					h1 open source
					p Here are some open-source (free!) light painting programs. LPL doesn't actively maintain these projects, but hopefully they will serve you well.

					ul
						li
							img(src='assets/images/lpl-heavy-icon.png')
							h3 LPL Heavy
							span The original LPL program for Mac/Windows. #[a(class='shiny' href='https://github.com/positlabs/lpl-heavy' target='_blank') View on GitHub.]

						li
							img(src='assets/images/android-icon.svg')
							h3 LPL Android
							span Light painting app for Android devices. #[a(class='shiny' href='https://github.com/positlabs/LightPainter' target='_blank') View on GitHub.]

						li
							img(src='assets/images/processing-icon.svg')
							h3 LPL Processor
							span Processing sketch that converts raw video into light painting videos. #[a(class='shiny' href='http://positlabs.github.io/lpl-processor/' target='_blank') View on GitHub.]


				section(id='story') 
					h1 story
					p LPL started as a simple prototype. It had two buttons and was very slow. It was discovered by Joerg Miedza, 
						| a prominent member of the light-painting community. The app was very limited, but Joerg saw it as the next step 
						| in the evolution of light-painting. He wanted to know if it could be improved, so he emailed the developer. 
						| Ever since then, Josh and Joerg have been exchanging ideas and improving LPL. 

					h3 Joerg Miedza: Artist
					p Joerg Miedza has been creating movies and photos using special techniques since the late 90's. 
						| He is the co-founder of the german light-art project LAPP-PRO. In this project, the LAPP-Team developed a 
						| unique brand of light painting: LightArt Performance Photography, or LAPP for short. The skills Joerg acquired
						| working with motion pictures allowed him to contribute significantly to the performance and artistic aspect of 
						| LAPP photography.
					p His personal work is at miedza.de 
					p There is also a book of the work: Painting With Light
					p Email: #[a(href='mailto:joerg@miedza.de' class='shiny' target='_blank') joerg@miedza.de ]

					h3 Josh Beckwith: Developer
					p Josh has always been obsessed with science and technology - and as a child, he dreamed of becoming an inventor. 
						| Now, he's a senior interactive developer at Tool of North America.
					p Email: #[a(href='mailto:josh@lightpaintlive.com' class='shiny' target='_blank') josh@lightpaintlive.com ]



		footer
			div(class='wrapper')
				a(class="shiny" target="_blank" href="mailto:josh@lightpaintlive.com") contact support
				div(class='fb-holder')
					div(class="fb-like" data-href="http://www.facebook.com/LightPaintLive" data-layout="button_count" data-width="150" data-colorscheme="dark" data-font="segoe ui")



			
		div(id='bg-trails')

		script(src="main.js" type="text/javascript")



