doctype html
html(lang="en" xmlns:fb="http://ogp.me/ns/fb#")
	head
		include _head
	body
		include _nav
		lpl-landing
		include _footer

		script(src="js/globals.js" type="text/javascript")
		script(src="js/index.js" type="text/javascript")
