doctype html
html(lang="en")
head
	title Lightpaint Live
	script(src="main.js" type="text/javascript")
	link(href="main.css" type="text/css" rel="stylesheet")
	link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css')
body
	h1 LIGHTPAINT LIVE