doctype html
html(lang="en" xmlns:fb="http://ogp.me/ns/fb#")

	head
		title Lightpaint Live
		
		script(src="main.js" type="text/javascript")
		link(href="main.css" type="text/css" rel="stylesheet")

		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css')

		link(rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bphfkpkoljdicakaokfbjiaamholpgjf")

		meta(name="keywords" content="light painting, webcam, photography, photo app, chrome app")

		meta(property="og:url" content="http://lightpaintlive.com")
		meta(property="og:site_name" content="Lightpaint Live")
		meta(property="og:type" content="website")
		meta(property="og:image" content="http://lightpaintlive.com/assets/images/og-image.jpg")
		meta(property="og:description" content="Real-time light painting software.")
		meta(property="fb:app_id" content="331545326882067")

	body

		nav
			div(class='wrapper')
				|navigation

		div(class='wrapper')

			section(id='mercury')
				|section#mercury
				button(class='install-btn btn') buy &amp; install Mercury
				button(class='launch-btn btn') launch Mercury

			section(id='faq') 
				|section#faq

			section(id='open-source') 
				|section#open-source
//- 
		footer
			div(class='wrapper')
				a(target="_blank" href="mailto:josh@lightpaintlive.com") contact support
				//- div(class='gplus-holder')
				//- 	div(class="g-plusone" data-size="medium" data-href="http://lightpaintlive.com")
				div(class='fb-holder')
					div(class="fb-like" data-href="http://www.facebook.com/LightPaintLive" data-layout="button_count" data-width="150" data-colorscheme="dark" data-font="segoe ui")
			
		div(id='bg-trails')


