doctype html
html(lang="en")

	head
		title Lightpaint Live
		
		script(src="main.js" type="text/javascript")
		link(href="main.css" type="text/css" rel="stylesheet")

		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css')

		link(rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bphfkpkoljdicakaokfbjiaamholpgjf")

		meta(property="og:url" content="http://lightpaintlive.com")
		meta(property="og:site_name" content="Lightpaint Live")
		meta(property="og:type" content="website")
		meta(property="og:image" content="http://lightpaintlive.com/assets/images/og-image.jpg")
		meta(property="og:description" content="Real-time light painting software.")
		meta(property="fb:app_id" content="331545326882067")

	body

		nav 
			|navigation

		section(id='mercury')
			|section#mercury
			button(class='install-btn') buy &amp; install Mercury

		section(id='faq') 
			|section#faq

		section(id='open-source') 
			|section#open-source

		footer 
			|footer