@mixin font-ubuntu($font-size: 12px, $font-weight: 400){
	font-family: 'Ubuntu', sans-serif;
	font-weight: $font-weight;
	font-size: $font-size;
}

@mixin font-oswald($font-size: 12px, $font-weight: 400){
	font-family: 'Oswald', sans-serif;
	font-weight: $font-weight;
	font-size: $font-size;
}