@import '../../node_modules/node-bourbon/assets/stylesheets/_bourbon.scss';
@import './normalize.scss';
@import './mixins.scss';

$orange: #ff9933;

html, body {
	background-color: #151515;
	color: white;
	min-height: 100%;
	min-width: 100%;
}

p, span, ul {
	letter-spacing: 1px;
	line-height: 1.5;
	@include font-ubuntu(13px, 300);
}

a {
	text-decoration: none;
	color: $orange;

	background: -webkit-linear-gradient(135deg, $orange 70%, white 75%, $orange 80%);
	background-position: 60%;
	background-size: 200%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;	

	&:hover {
		@include animation(anchor-gradient-hover 3s both);
		@include animation-iteration-count(infinite);		
	}
	
}

@include keyframes(anchor-gradient-hover) {
	0% {		background-position-x: 60%; }
	20%, 100% {	background-position-x: -145%; }
}

.scrollable-content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: scroll;
}

.wrapper {
	width: 720px;
	margin: 0 auto;
	padding: 0 20px;
}

footer, nav {
	position: absolute;
	width: 100%;
	background: black;
	z-index: 1;
}

nav {
	top: 0;
	height: 100px;
	#lpl-logo {
		margin-left: -22px;
		canvas {
			width: 100px;
			height: 100px;
		}
	}
}

h1, h2, h3 {
	text-transform: uppercase;
	margin: 0;
}
h1 {
	@include font-oswald(32px, 300);
}
h2 {
	@include font-oswald(24px, 300);
}
h3 {
	@include font-oswald(18px, 300);
}

footer {
	
	bottom: 0;
	height: 32px;

	.fb-holder {
		display: inline-block;
		float: left;
		margin-top: 6px;
	}
	a {
		float: right;
		line-height: 32px;
	}
}

section {
	&:first-of-type {
		margin-top: 130px;
	}
	&:last-of-type {
		margin-bottom: 130px;
	}
}

section#mercury {
	
	.btn {
		display: block;
		background-color: white;
		position: relative;
		color: #333;
		float: left;
		text-transform: uppercase;
		cursor: pointer;
		padding: 12px 10px 12px 50px;
		border-left: 3px solid $orange;
		@include font-oswald(18px);
		
		.icon {
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			height: 50px;
			background-size: 35px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(assets/images/chrome-icon.svg);
			@include transition(all 1s $ease-out-quint);
		}

		a {
			background: none;
			-webkit-text-fill-color: inherit;
		}

		&:hover {
			.icon {
				@include transform(rotate(8rad));
			}
		}
	}

	.launch-btn {
		display: none;
	}

	.try {
		line-height: 50px;
		margin-left: 10px;
	}

	&.state-installed {
		.launch-btn {
			display: block;
		}
		.install-btn {
			display: none;
		}
	}

	iframe {
		margin-top: 40px;
	}

}

#bg-trails {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

