:host {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    overflow: hidden;
}

.logo {

    position: absolute;
	left: 10px; bottom: 10px;
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: white;
	text-decoration: none;
	z-index: 1;
	-webkit-user-drag: none;
	user-select: none;
	img {
        height: 48px;
        user-select: none;
        -webkit-user-drag: none;
    }
    
	div {
        position: relative;
        display: inline-block;
        top: -18px;
        left: -2px;
        span {
            font-weight: 400;
        }
    }
    // mix-blend-mode: lighten;
	// div {
    //     display: none;
    // }
	// &[state='painting'] {
    //     filter: hue-rotate(170deg);
    //     -webkit-filter: hue-rotate(170deg);
    // }
	// &[state='paused'] {
    //     filter: hue-rotate(230deg);
    //     -webkit-filter: hue-rotate(230deg);
    // }
}

.hidden {
    display: none;
}

.hover-reveal:hover {
    opacity: 1;
    transition: opacity .3s;
}
.hover-reveal {
    transition: opacity .3s 1s;
    opacity: 0;
}


#donate {
	position: absolute;
	color: white;
	font-weight: bold;
	z-index: 10000;
	left: 50%; top: 30%;
	transform: translate(-50%, -50%);
    text-align: left;

	#content {
		border-top: 3px solid lime;
		opacity: 0;
		overflow: hidden;
        line-height: 1.5;
        font-size: 1.25em;
        max-width: 500px;
		background: rgba(0,0,0, .9);
        padding: 20px;
        a {
            color: lime;
            text-decoration: none;
        }
	}

	.message {
		padding: 25px;
		line-height: 1.5;
	}

	#close.btn {
		position: absolute;
		top: 10px; right: 10px;
		line-height: 30px;
		width: 30px;
        height: 30px;
		text-align: center;
		text-shadow: 0 0 5px black;
		font-size: 1.5em;
		cursor: pointer;
	}
}
