<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.positlabs.lightpaintlive" android:versionCode="205"
	android:versionName="2.01.1">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" android:required="true"/>
	<uses-feature android:name="android.hardware.camera.front" android:required="false" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <!-- Required permission to use in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    
    
	<application android:icon="@drawable/lpl_icon" android:label="@string/app_name" >
		<activity android:name=".LPLAndroidNativeActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="sensorLandscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".GalleryActivity" android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
			    <action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		
	    <service android:name="com.positlabs.billing.BillingService" />

        <receiver android:name="com.positlabs.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
	</application>
	<!-- <application android:icon="@drawable/icon" android:label="@string/app_name" 
		> <activity android:name=".CameraActivity" android:label="@string/app_name" 
		android:screenOrientation="landscape" > <intent-filter> <action android:name="android.intent.action.MAIN" 
		/> <category android:name="android.intent.category.LAUNCHER" /> </intent-filter> 
		</activity> </application> -->

</manifest>