doctype html
html(lang="en" xmlns:fb="http://ogp.me/ns/fb#")
	head
		include _head
		style.
			body {
				padding: 50px;
			}
	body
		h1 Privacy Policy
		p Mercury uses the camera to capture frames, but never sends images, video, or audio to external servers.
		p If you'd like to see your work featured on our facebook page, send it to us at #[a(href='mailto:josh.beckwith@gmail.com') josh.beckwith@gmail.com]
