#mercury {
  width: 100%;
}

#mercury canvas {
  position: absolute;
  left: 50%;
  top: 50%;
}

#mercury .dg {
  z-index: 10;
}

#social {
  background: rgba(0, 0, 0, 0.82);
  width: 500px;
  left: 50%;
  margin-left: -250px;
  position: fixed;
  z-index: 20;
  border: solid 13px black;
}

#social.open {
  bottom: -13px;
  -webkit-transition: bottom 1000ms;
}

#social.closed {
  bottom: -400px;
  -webkit-transition: bottom 1000ms;
}

#social .social {
  padding: 30px 30px 0;
}

#social .social:last-child {
  padding-bottom: 30px;
}