@import "../../global/mixins.scss";
@import "../../global/vars.scss";

lpl-landing {
  .sponsor-buttons {
    display: block;
    clear: both;
    padding-top: 10px;
    a {
      float: left;
      margin-right: 30px;
    }

    .github {
      border: 2px solid white;
      padding: 12px;
      border-radius: 20px;
      svg {
        fill: fuchsia;
        margin-right: 6px;
      }
    }
  }
  section {
    width: 100%;
    .btn {
      background-color: #ddd;
      .icon {
        background-image: url("../assets/images/desktop.png");
        transition: all 0.3s $ease-out-quint;
      }
      &:hover {
        background-color: white;
        .icon {
          transform: scale(1.1);
        }
      }
    }
    img.splash {
      width: 100%;
      margin-top: 40px;
    }

    .launch-btn {
      user-select: none;
    }
    .links {
      display: block;
      clear: both;
      padding-top: 20px;
      a { 
        display: block;
      }
    }
      
    iframe {
      margin-top: 40px;
      margin-bottom: 20px;
      width: 100%;
      height: auto;
    }

    .sub-section {
      padding-top: 20px;
      padding-bottom: 10px;
      clear: both;
    }

    .sub-section.gallery {
      text-align: center;
    }
  }

  .sub-section.faq {
    h3 {
      margin-top: 30px;
    }

    p {
      padding-left: 40px;
    }
  }

  section#story {
    .person {
      margin-bottom: 20px;
      overflow: hidden;
      h3 {
        padding-top: 20px;
      }
      img {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
      }
      .content-block {
        float: left;
        max-width: 540px;
      }
    }
  }
}
