@import "../../global/mixins.scss";
@import "../../global/vars.scss";

lpl-landing {
  section#mercury {
    .btn {
      background-color: #ddd;
      .icon {
        background-image: url("../assets/images/desktop.png");
        transition: all 0.3s $ease-out-quint;
      }
      &:hover {
        background-color: white;
        .icon {
          transform: scale(1.1);
        }
      }
    }

    .launch-btn {
      user-select: none;
    }

    iframe {
      margin-top: 40px;
      margin-bottom: 20px;
      width: 100%;
      height: auto;
    }

    .sub-section {
      padding-top: 20px;
      padding-bottom: 10px;
      clear: both;
    }

    .sub-section.gallery {
      text-align: center;
    }
  }

  .sub-section.faq {
    h3 {
      margin-top: 30px;
    }

    p {
      padding-left: 40px;
    }
  }

  section#story {
    .person {
      margin-bottom: 20px;
      overflow: hidden;
      h3 {
        padding-top: 20px;
      }
      img {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
      }
      .content-block {
        float: left;
        max-width: 540px;
      }
    }
  }
}
